@charset "utf-8";
/* CSS Document */

/*-------------------Reset CSS---------------------------------*/
/*-------------------------------------------------------------*/
html {
    width: 100%;
    height: 100%;
	font-family: 'Roboto',"Lucida Sans", sans-serif;
	/*"Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-size:100%; /* equals to current font size, which is 16x */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    width: 100%;
    font-family: 'Roboto',"Lucida Sans", sans-serif;
    font-size: 70%;
    height: 100%;
	margin: 0;
	text-align: center;

}

a {
  background-color: transparent;
  text-decoration:none;
          transition: all 0.5s;
 	 -moz-transition: all 0.5s;
	  -ms-transition: all 0.5s;
	   -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
a, a:active,
a:hover {
  outline: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

[role="button"] {
  cursor: pointer;
}

* {
	box-sizing: border-box;
}


/*-------------------Navigation Starts --------------------------------*/
/*---------------------------------------------------------------------*/
.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align:  center;
}

.content-row {
	display: inline-block;
	height: auto;
	vertical-align: top;
	float: none;
}
.content-row-full {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: top;
	float: none;
}

.navbar {
    min-width: 280px;
	margin: auto auto;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    min-width: 280px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
	padding-right: 20px;
}
.container > .navbar-collapse{
	margin: 0px;
}
/* This is needed for collapsing the responsive menu */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

/*--- Menu Starts ---*/
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
   -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.nav > li {
  position: relative;
  display: block;
  color: #777;
}
/* Padding between menu items */
.nav > li > a {
  color: #777;
  position: relative;
  display: inline-block;
  padding: 10px 13px; 
  /*          transition: all 0.5s;
	   -moz-transition: all 0.5s;
	    -ms-transition: all 0.5s;
	     -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
	-webkit-transition: all 300ms linear;
       -moz-transition: all 300ms linear;
         -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
            transition: all 300ms linear;
}

/* Menu Normal State */
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
/* Menu Hover, Focus State */
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #303361;
}

/* Menu Active State */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #303361;
}

/*-- Menu Effect Starts --*/
.menu-effect{
    -webkit-transition: all 300ms linear;
       -moz-transition: all 300ms linear;
         -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
            transition: all 300ms linear;
}
h2.menu-effect {
	font-size: 1em;
	color: #FFF;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
}
.navbar-default .navbar-nav> li >a:hover .menu-effect,
.navbar-default .navbar-nav> li >a:focus .menu-effect,
.navbar-default .navbar-nav > .active > a .menu-effect,
.navbar-default .navbar-nav > .active > a:focus .menu-effect,
.navbar-default .navbar-nav > .active > a:hover .menu-effect {
    -webkit-animation: moveFromTop 300ms ease-in-out;
       -moz-animation: moveFromTop 300ms ease-in-out;
        -ms-animation: moveFromTop 300ms ease-in-out;
}

/* Menu Animation */
@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromTop {
    from {
        opacity: 0;
        -moz-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromTop {
    from {
        opacity: 0;
        -ms-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0%);
    }
}
@-o-keyframes moveFromTop {
    from {
        opacity: 0;
        -o-transform: translateY(-200%);
    }
    to {
        opacity: 1;
        -o-transform: translateY(0%);
    }
}
/*-- Menu Effect Starts --*/
/*--- Menu Ends ---*/

/*-- Header Starts --*/
/* Header Background */
.navbar-default {
    background-color: #2d2f5b;
}

.navbar {
    position: relative;
    min-width: 280px;
    padding: 30px 0 0 0;
    min-height: 30px;
    margin-bottom: 20px;
    border: none;
    position:  relative;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-collapse {
    background-color: #1f213f;
    padding-right: 20px;
    border-top: none!important;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-collapse.in {
  overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1005;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.navbar-nav {
    margin: 0;
    padding-top: 15px;
}

/* Navigation Bar Height */
.navbar-nav > li > a {
    font-size: 1em;
}
/*-- Header Ends --*/

/*--- Logo Starts ---*/
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777;
}
.navbar-brand {
    float: left;
    height: 83px;
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 0px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777;
}
/*--- Logo Ends ---*/

/*--- Toggle Starts ---*/
.navbar-toggle {
  position: relative;
  float: right;
  padding: 0px 0px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 45px;
  background-color: transparent;
  background-image: none;
  border: none;
}
.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* Toggle Icon Normal State */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

/* Toggle Background Hover, Focus States */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/* Toggle Icon Hover, Focus States */
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
   background-color: #C2131c;
}
/*--- Toggle Ends ---*/

/*-------------------Navigation Ends-----------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Sections Start------------------------------------*/
/*---------------------------------------------------------------------*/
section {
    text-align: center;
	display: inline-block;
}

.default-section1 {
    background-color: #C2131c;
	height: 100%;
}
.default-section2 { 
    background-color: #5fa62c;
	height: 100%;
}

/*-------------------Sections End--------------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Intro Section Starts------------------------------*/
/*---------------------------------------------------------------------*/

.intro-section {
    background: #2d2f5b;
    padding-top: 70px;
    text-align: center;
    height: auto!important;
	overflow: hidden;
}

.intro-section img {
    width:  100%;
    height: auto;
	min-width: 700px;
	margin-top: -80px;
}

.intro-text {
	display: inline-block;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	        transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	text-align: center;
}

.intro-background {
	position: relative;
	overflow: hidden;
}

.intro-button {
	margin-top: 25px;
}

.animation1 {
	-webkit-animation-delay: 200ms;
	   -moz-animation-delay: 200ms;
	     -o-animation-delay: 200ms;
	        animation-delay: 200ms;
	-webkit-animation-duration: 500ms;
	   -moz-animation-duration: 500ms;
	     -o-animation-duration: 500ms;
	        animation-duration: 500ms;
	
}
.animation2 {
	-webkit-animation-duration: 500ms;
	   -moz-animation-duration: 500ms;
	     -o-animation-duration: 500ms;
	        animation-duration: 500ms;
	-webkit-animation-delay: 700ms;
	   -moz-animation-delay: 700ms;
	     -o-animation-delay: 700ms;
	        animation-delay: 700ms;
}
.animation3 {
	-webkit-animation-duration: 500ms;
	   -moz-animation-duration: 500ms;
	     -o-animation-duration: 500ms;
	        animation-duration: 500ms;
	-webkit-animation-delay: 1200ms;
	   -moz-animation-delay: 1200ms;
	     -o-animation-delay: 1200ms;
	        animation-delay: 1200ms;
}
/*-------------------Intro Section Ends--------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Home Section Starts-------------------------------*/
/*---------------------------------------------------------------------*/
.home-section {
	text-align: center;
	position: relative;
	display: inline-block;
}

.home-section img {
	width: 100%;
	height: auto;
}

.home-section-inner-wrapper {
	display: none;
	position: absolute;
	left: 50%;
	top: 40px;
	        transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
}

.mac-screen {
	margin-top: -90px;
	position: relative;
}
.home-page-top {
	/*min-height: 460px;*/
}
.home-page-bottom {
	position: relative;
	display: inline-block;
	width: 100%;
}
.home-page-bottom-inner {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	        transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	display: inline-block;
}
.home-title-wrapper {
	/*height: 175px;*/
}
.home-mobile-wrapper {
    display: block;
}
.home-desctop-wrapper {
	display: none;
}
.home-section .col-xs-3, .home-section .col-xs-6 {
    padding-right: 5px;
    padding-left: 5px;
}
/*-------------------Home Section Ends---------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Page General Styles Start-------------------------*/
/*---------------------------------------------------------------------*/
/*--- Title Wrapper Starts ---*/
.title-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
	overflow: hidden;

}
.title-wrapper img {
    width: 100%;
    height: auto;
    min-width: 920px;
}
.title-wrapper-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.title-wrapper-inner-flexible {
    margin: auto auto;
}
.page-section {
    overflow: hidden;
    padding-top: 5px;
}
.page-header {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
    margin: 0 auto;
    border: 0px;
}

.page-image-container {
    display: inline-block;
    float: none;
    margin: auto auto;
}

.page-content-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.page-content {
    display: block;
    margin: 0 auto;
    float: none;
}
.page-container {
    display: inline-block;
    float: none;
    margin: auto auto;
}
.page-container div[class*="col-"] {
    margin: 10px  -0.125em;
    display: inline-block;
    float: none;
}
.page-content img {
    width: 100%;
    height: auto;
}
.page-content[class*="col-"] {
	padding-left: 5px;
	padding-right: 5px;
}
/*--- Title Wrapper Ends ---*/

/*--- Menu Icon Starts ---*/
.menu-icon {
    height: 82px;
    width: 82px;
    padding: 12px 12px 12px 0px;
    vertical-align: top;
}
.menu-icon-description {
    text-align: left;
    vertical-align: top;
    font-size: 13px;
}

/* Hover Effect */

/*.menu-icon-button {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}*/

.menu-icon-button  {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.icon-menu-effect:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.menu-icon-button:before {
    font-size: 48px;
    line-height: 70px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.icon-menu-effect:after {
    display: none;
}

.icon-menu-effect:hover:before {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}
@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

/*--- Menu Icon Ends ---*/

/*-- Hr Link Text Starts --*/
.hr-text-link {
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.hr-text-link-left {
    /*width: 66%;*/
    /*width: 100%;*/
    display: inline-block;
    vertical-align: middle;
    background-color: red;
}
.hr-text-link-right {
    /*width: 33.333%;*/
    /*width: 100%;*/
    display: inline-block;
    vertical-align: middle;
}
.hr-text-link hr {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 1px;
    border: none;
}
.hr-text-link a {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.hr-text-link div[class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-right: 0px;
    margin: 0 -0.125em;
    float: none;
    display: inline-block;
}
/*-- Hr Link Text Ends --*/

/*-- Text Block Starts --*/
.text-block {
    text-align: left;
    font-size: 13px;
    list-style-type: none;
}
.text-block li {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*-- Text Block Ends --*/

/*-- Page Nav Block Starts --*/
.page-nav-block {
    display: inline-block;
    text-align: center;
    float: none;
}
.page-nav-block-img {
    display: inline-block;
    float: none;

}
.page-nav-block-img img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
/*-- Page Nav Block Ends --*/

.inline-block-text {
    display: inline-block;
}

.page-text-slider {
    padding: 40px 10px;
	/*  padding: 40px 50px;*/

}

/*--- Page Large Content Starts ---*/
.page-large-content {
    display: inline-block;
	float: none;
	margin: auto auto;
}
.page-large-content-img-relative {
    width: 100%;
    float: left;
    position: relative;
    z-index: 400;
}
.page-large-content-img-relative img {
    margin-top: 0px;
    width: 100%;
    height: auto;
}
.page-large-content-text {
	text-align: center;
	overflow: hidden;
	width: 100%;
}
/*--- Page Large Content Ends ---*/

/*-------------------Page General Styles End---------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Page1 Section Starts------------------------------*/
/*---------------------------------------------------------------------*/
/*-- Icon Effect for Page1 Starts --*/
.icon-menu-effect1 {
    box-shadow: 0 0 0 2px rgba(30,24,65,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.icon-menu-effect1:hover,.icon-menu-effect1:focus {
    background: rgba(30,24,65,0.1);
    box-shadow: 0 0 0 5px rgba(30,24,65,0.9);
}
/*-- Icon Effect for Page1 Ends --*/

/*--- Page1 Icons Start ---*/
.title1-icon1::before {
    content:url(../images/title1-icon1.png);
}
.title1-icon2::before {
    content: url(../images/title1-icon2.png);
}
.title1-icon3::before {
    content: url(../images/title1-icon3.png);
}
.title1-icon4::before {
    content: url(../images/title1-icon4.png);
}
.title1-icon5::before {
    content: url(../images/title1-icon5.png);
}
.title1-icon6::before {
    content: url(../images/title1-icon6.png);
}
.title1-icon7::before {
    content: url(../images/title1-icon7.png);
}
.title1-icon8::before {
    content: url(../images/title1-icon8.png);
}
.title1-icon9::before {
    content: url(../images/title1-icon9.png);
}
/*--- Page1 Icons End ---*/

/*-------------------Page1 Section Ends---------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Page2 Section Starts------------------------------*/
/*---------------------------------------------------------------------*/
/*-- Icon Effect for Page2 Starts --*/
.icon-menu-effect2{
    box-shadow: 0 0 0 2px rgba(201,33,39,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.icon-menu-effect2:hover,.icon-menu-effect2:focus {
    background: rgba(201,33,39,0.1);
    box-shadow: 0 0 0 5px rgba(201,33,39,0.9);
}
/*-- Icon Effect for Page2 Ends --*/

/*--- Page2 Icons Start ---*/
.title2-icon1::before {
    content:url(../images/title2-icon1.png);
}
.title2-icon2::before {
    content: url(../images/title2-icon2.png);
}
.title2-icon3::before {
    content: url(../images/title2-icon3.png);
}
.title2-icon4::before {
    content: url(../images/title2-icon4.png);
}
.title2-icon5::before {
    content: url(../images/title2-icon5.png);
}
.title2-icon6::before {
    content: url(../images/title2-icon6.png);
}

/*--- Page2 Icons End ---*/

/*-------------------Page2 Section Ends--------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Page3 Section Starts------------------------------*/
/*---------------------------------------------------------------------*/

/*-- Icon Effect for Page3 Starts --*/
.icon-menu-effect3{
    box-shadow: 0 0 0 2px rgba(80,156,32,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.icon-menu-effect3:hover,.icon-menu-effect2:focus {
    background: rgba(80,156,32,0.1);
    box-shadow: 0 0 0 5px rgba(80,156,32,0.9);
}
/*-- Icon Effect for Page3 Ends --*/

/*--- Page3 Icons Start ---*/
.title3-icon1::before {
    content:url(../images/title3-icon1.png);
}
.title3-icon2::before {
    content: url(../images/title3-icon2.png);
}
.title3-icon3::before {
    content: url(../images/title3-icon3.png);
}
.title3-icon4::before {
    content: url(../images/title3-icon4.png);
}
.title3-icon5::before {
    content: url(../images/title3-icon5.png);
}
.title3-icon6::before {
    content: url(../images/title3-icon6.png);
}

/*--- Page3 Icons End ---*/

/*-------------------Page3 Section Ends---------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Page4 Section Starts------------------------------*/
/*---------------------------------------------------------------------*/

/*-- Icon Effect for Page4 Starts --*/
.icon-menu-effect4{
    box-shadow: 0 0 0 2px rgba(190,190,190,1);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.icon-menu-effect4:hover,.icon-menu-effect2:focus {
    background: rgba(190,190,190,0.1);
    box-shadow: 0 0 0 5px rgba(190,190,190,0.9);
}
/*-- Icon Effect for Page4 Ends --*/

/*--- Page3 Icons Start ---*/
.title4-icon1::before {
    content:url(../images/title4-icon1.png);
}
.title4-icon2::before {
    content: url(../images/title4-icon2.png);
}
.title4-icon3::before {
    content: url(../images/title4-icon3.png);
}
.title4-icon4::before {
    content: url(../images/title4-icon4.png);
}
.title4-icon5::before {
    content: url(../images/title4-icon5.png);
}
.title4-icon6::before {
    content: url(../images/title4-icon6.png);
}

/*--- Page3 Icons End ---*/

/*-------------------Page4 Section Ends---------------------------------*/
/*---------------------------------------------------------------------*/

/*-------------------Footer Section Starts-----------------------------*/
/*---------------------------------------------------------------------*/
/*--- Footer Image Block Starts---*/
.footer-block {
	width: 100%;
	vertical-align: middle;
}
.footer-block img{
	width: 100%;
	height: auto;
}
.footer-block div[class*="col-"] {
	padding-left: 2.5px;
	padding-right: 2.5px;
	margin-top: 5px;
}
figure.footer-image {
	width: 100%;
	position: relative;
	
}
.footer-image figcaption {
	width: 100%;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: center;
}

.footer-image-block {
    width: 100%;
    vertical-align: middle;
}
.footer-image-block img {
    width: 100%;
    height: auto;
}
.footer-image-block div[class*="col-"] {
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-top: 5px;
}

/*--- Footer Image Block Ends---*/

.footer-nav {
	width: 100%;
	text-align: center;
    display: inline-block;
}
.footer-nav ul {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.footer-nav ul li {
	display: inline-block;
}

/*--- Footer Nav Top Starts ---*/
.footer-nav-top-container {
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
	width: 100%;
}
.footer-nav-top {
	display: inline-block;
	float: none;
	position: relative;
}

.footer-links-container {
	position: relative;
	height: 100%;
	display: inline-block;
	float: none;

}

.footer-logo {
	display: inline-block;
}
.footer-logo img {
	width: 50%;
	height: auto;
	vertical-align: middle;
}

/*--- Footer Links Start ---*/
.footer-links  {
	display: inline-block;
	width: 100%;
}
.footer-links ul {
	border-bottom: 1px solid #484848;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
}
.footer-links ul li {
	width: 100%;
	height: auto;
	text-align: center;
}
.footer-links-wrapper {
	position: static;
	        transform: none;
	     -o-transform: none;
	   -moz-transform: none;
	-webkit-transform: none;
	    -ms-transform: none;
		text-align: center;
		
}
.footer-links-wrapper-inner {
	position: static;
	        transform: none;
	     -o-transform: none;
	   -moz-transform: none;
	-webkit-transform: none;
	    -ms-transform: none;
		margin: auto auto;
}
/*--- Footer Links End ---*/

.footer-contacts ul {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

.menu-line {
	display: none;
}

.tel-icon {
	display: inline-block;
	background: url(../images/tel-icon.png);
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
}
.email-icon {
	display: inline-block;
	background: url(../images/email-icon.png);
	width: 20px;
	height: 16px;
	background-repeat: no-repeat;
}

/*--- Footer Nav Top Ends ---*/

/*--- Footer Nav Bottom Starts ---*/
.footer-nav-bottom-container {
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
	width: 100%;
	float: none;
}
.footer-nav-bottom {
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
	float: none;
}
.footer-nav-bottom-left {
	text-align: center;
}
.footer-nav-bottom-right {
	text-align: center;
}
/*--- Footer Nav Bottom Ends ---*/
/*-------------------Footer Section Ends-------------------------------*/
/*---------------------------------------------------------------------*/

/*------------------General Styles Start-------------------------------*/
/*---------------------------------------------------------------------*/

.header-button {
	border-radius: 30px;
	padding: 11px 18px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
    margin: 5px;
}
.header-button:focus, .header-button:hover {
	text-decoration: none;
	color: #FFF;
}

/*--- Links Start ---*/
.text-link {
	color: #c92127;
	font-size: 1.2em;
}
.text-link:hover, .text-link:focus{
	color: #c92127;
	text-decoration: underline;
}

a.bg-color-red:hover, a.bg-color-red:focus {
    background-color: #a71c21;
}
a.bg-color-dark-blue:hover, a.bg-color-dark-blue:focus {
    background-color: #14102b;
}
a.bg-color-green:hover, a.bg-color-green:focus {
    background-color: #509c20;
}

.text-link.color-dark-blue:hover, .text-link.color-dark-blue:focus {
    color: #1e1841;
    text-decoration: underline;
}
/*--- Links End ---*/

/*--- Bg Colors Start ---*/
.bg-color-red {
	background-color: #c92127;
}
.bg-light-grey {
	background-color: #c8c8c8;
}
.bg-dark-grey-level2 {
	background-color: #303030;
}
.bg-dark-grey-level1 {
	background-color: #3a3a3a;
}
.bg-color-grey {
    background-color: #cacaca;
}
.bg-color-dark-blue {
    background-color: #1e1841;
}
.bg-color-green {
    background-color: #84b867;
}
/*--- Bg Colors End ---*/

/*--- Borders Start ---*/
.border-red {
	border: 1px solid #d34b50;
}
.border-grey {
	border: 1px solid #a3a3a3;
}
.border-top-grey {
    border-top: 1px solid #a3a3a3;
}
.border-bottom-grey {
    border-bottom: 1px solid #a3a3a3;
}
.border-dark-blue {
	border: 1px solid #1e1841;
}
.border-dark-red {
    border: 1px solid #c92127;
}
.border-green {
    border: 1px solid #84b867;
}
/*--- Borders End ---*/

/*--- Colors Start ---*/
.color-white {
	color: #FFF;
}
.color-dark-blue {
	color: #1e1841;
}
.color-dark-grey {
	color: #737373;
}
.color-dark-grey-level1 {
	color: #464646;
}
.color-light-grey {
	color: #777777;
}
.color-dark-red {
    color: #c92127;
}
.color-green {
    color: #509c20;
}
/*--- Colors End ---*/

/*--- Fonts Start ---*/
.font-size-mid {
	font-size: 1.2em;
}
.font-size-big-title-wrapper {
	font-size: 1.875em;
}
.font-size-mid-title-wrapper {
	font-size: 1.2em;
}
.font-size-big-page-header {
	font-size: 2.25em;
}
.font-size-mid-page-header {
	font-size: 1.125em;
}

.font-size-inner-title {
	font-size: 1.3125em;
}
.font-size-normal {
    font-size: 1em;
}

.font-size21 {
	font-size: 1.3em;
}
.font-size26 {
	font-size: 1.625em;
}
.font-size28 {
	font-size: 1.75em;
}
.font-size32 {
	font-size: 2em;
}
/*--- Fonts End ---*/

/*--- Spacing Starts ---*/
.marg-top6 {
	margin-top: 6px;
}
.marg-top30 {
	margin-top: 30px;
}
.marg-top35 {
	margin-top: 35px;
}
.marg-top10 {
    margin-top: 30px;
}
.marg-top20 {
    margin-top: 20px;
}
.marg-top24 {
    margin-top: 24px;
}
.marg-top26 {
    margin-top: 26px;
}
.marg-top28 {
    margin-top: 28px;
}
.marg-top32 {
    margin-top: 32px;
}
.marg-top45 {
    margin-top: 45px;
}
.marg-top50 {
    margin-top: 50px;
}
.marg-top58 {
    margin-top: 58px;
}
.marg-top79 {
    margin-top: 79px;
}
.marg-top-172 {
	margin-top: -172px;
}

.marg-btm30 {
	margin-bottom: 30px;
}
.marg-btm35 {
	margin-bottom: 35px;
}
.marg-top35 {
	margin-bottom: 35px;
}
.marg-btm36 {
	margin-bottom: 36px;
}
.marg-btm45 {
    margin-bottom: 45px;
}
.marg-btm81 {
    margin-bottom: 81px;
}
.marg-btm91 {
    margin-bottom: 91px;
}
.marg-btm246 {
	margin-bottom: 246px;
}

.marg-left4 {
	margin-left: 4px;
}
.marg-right4 {
	margin-left: 4px;
}
.marg-inline-block {
    margin: 0 -0.125em;
}
.marg10 {
	margin: 10px;
}
.pad-top10 {
    padding-top: 10px
}
.pad-top45 {
    padding-top: 45px;
}
.pad-bottom10 {
    padding-bottom: 10px
}
.pad-left45 {
	padding-left: 45px;
}
.pad-right36 {
	padding-right: 36px;
}
.pad-right45 {
	padding-right: 45px;
}

/* Spacing for Desctop Version Starts */
.marg-top116-d {
	margin-top: 0px;
}
.marg-top140-d {
	margin-top: 0px;
}

.marg-btm116-d {
	margin-bottom: 0px;
}
.marg-btm260-d {
	margin-bottom: 0px;
}
.pad-left98-d {
	padding-left: 0px;
}
.pad-right36-d {
	padding-right: 0px;
}

/* Spacing for Desctop Version Ends */

/* Spacing for Desctop Version Starts */
.marg-top10-m {
	margin-top: 10px;
}
.marg-top30-m {
	margin-top: 30px;
}
.marg-top40-m {
	margin-top: 40px;
}
.marg-top58-m {
	margin-top: 58px;
}

.marg-btm30-m {
	margin-bottom: 30px;
}
.pad-right10-m {
	padding-right: 10px;
}

/* Spacing for Desctop Version Ends */

/*--- Spacing Ends ---*/

/*--- Headings Start ---*/
h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
    color: #FFF;
    text-align: center;
	margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #FFF;
    text-align: center;
}
/*--- Headings End ---*/

/*--- Texts Start ---*/
.text-shadow {
	text-shadow:  0px 2px 2px rgba(0, 0, 0, 0.8); 
}

/*--Alignments for Mobile Start--*/
.text-left-m {
	text-align: left;
}
.text-right-m {
	text-align: right;
}
.text-center-m {
	text-align: center;
}
.text-justify-m {
	text-align: justify;
}

/*--Alignments for Mobile End--*/

/*--- Texts End ---*/

/*--- Display Starts ---*/
.col-to-inline-block {
	display: inline-block;
	float: none;
	margin: 0 -0.125em;
	vertical-align: top;
}

.col-to-inline-block-no-pad {
	display: inline-block;
	float: none;
	margin-left: -0.125em;
	margin-right: -0.125em;
	vertical-align: top;
}
.col-to-inline-block-no-pad[class*='col'] {
	padding-left: 0px;
	padding-right: 0px;
}
	
.inline-block-el {
	display: inline-block;
	float: none;
}

.displ-none-in-mobile {
	display: none;
}

.item-middle-centered-d {
	position: static;
	        transform: none;
	     -o-transform: none;
	   -moz-transform: none;
	-webkit-transform: none;
	    -ms-transform: none;
	
}

/* Image Text Float Block Starts */
.txt-img-float-block1-txt {
	position: relative;
}
.txt-img-float-block1 img {
	width: 70%;
	height: auto;
}

/* Image Text Float Block Ends */

/* Auto sizes floated Divs Start */
.auto-size-div-left {
	float: left;
}
.auto-size-div-right {
	overflow: hidden;
}
/* Auto sizes floated Divs Ends */

/*--- Display Ends ---*/

/*--- Widths Start ---*/
.full-width {
	width: 100%;
}
.width60-m {
	width: 60px;
}
.full-width-image {
	width: 100%;
	height: auto;
}

.image-auto {
	width: auto!important;
	height: auto!important;
}
/*--- Widths End ---*/

/*--- Slider Custom Styles ---*/
.slider-custom-style1 .owl-controls {
	margin-top: 50px;
}
/*--- Slider Custom End ---*/

/*--- List ---*/
ul.bullets-list {
	list-style:circle;
}

/*------------------General Styles End---------------------------------*/
/*---------------------------------------------------------------------*/

/*------------------Media Queries------------------------------*/
/*-------------------------------------------------------------*/
@media (min-width: 320px) {
    .page-large-content-img-relative {
        width: 100px;
    }
	.page-large-content-text {
		text-align: left;
		width: auto;
	}
	
}
@media (min-width: 320px) and (max-width:767px) {
	.page-large-content-img-relative {
		margin-right: 10px;
	}
}

@media (min-width: 480px) {
    .font-size-mid {
        font-size: 1.875em;
    }

    /* Home Page */
    .home-section-inner-wrapper {
        display: block;
    }
    .home-mobile-wrapper {
        display: none;
    }

}

@media (min-width: 481px) and (max-width:767px) {
	
}
@media (min-width: 768px) {
    /*--- Navigation Starts --*/
    .navbar-collapse {
       padding-right: 20px;
    }
    .navbar-nav {
        float: right;
        padding-top: 0px;
    }
	.nav > li > a {
		padding: 20px 13px;
	}
    /*--- Navigation Ends --*/
	
	body {
		font-size: 100%;
	}
	
	/*--- Page Large Content Starts ---*/
    .page-large-content-img-relative {
        width: 256px;
    }
	.page-large-content-img-relative img {
		margin-left: -50%;
        margin-top: -80px;
	}
	/*--- Page Large Content Ends ---*/
	
	/*--- Footer Starts ---*/
	.footer-logo img {
		width: 100%;
	}
	
	.footer-links-wrapper {
		width: 100%;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 0%;
				transform: translateY(-50%);
			 -o-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
	}
	
	.footer-links-wrapper-inner {
		width: 100%;
		display: inline-block;
		float: none;
		vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 0%;
				transform: translateY(-50%);
			 -o-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
	}
	
	.footer-links ul li {
		text-align: left;
		width: auto;
	}
	.footer-contacts ul {
		text-align: left;
	}
	
	.menu-line {
		display: inline-block;
	}
	
	.footer-nav-bottom-left {
		text-align: left;
	}
	.footer-nav-bottom-right {
		text-align: right;
	}
	
	/*--- Footer Ends ---*/
	.mac-screen {
		margin-top: -130px;
	}
	
	/* Margins */
	.marg-top58-m {
		margin-top: 0px;
	}
	.marg-top10-m {
		margin-top: 0px;
	}
	.marg-btm30-m {
		margin-bottom: 0px;
	}
	.pad-right10-m {
		padding-right: 0px;
	}
	
	.marg-top75-d {
		margin-top: 75px;
	}
	.marg-top85-d {
		margin-top: 85px;
	}
	.marg-top116-d {
		margin-top: 116px;
	}
	.marg-top140-d {
		margin-top: 140px;
	}
	
	.marg-btm75-d {
		margin-bottom: 75px;
	}
	.marg-btm85-d {
		margin-bottom: 85px;
	}
	.marg-btm116-d {
		margin-bottom: 116px;
	}
	.marg-btm260-d {
		margin-bottom: 260px;
	}
	
	.pad-left66-d {
		padding-left: 96px;
	}
	.pad-left98-d {
		padding-left: 98px;
	}
	
	.pad-right36-d {
		padding-right: 36px;
	}
	.pad-right66-d {
		padding-right: 96px;
	}
	
	
	/* Positioning */
	.item-middle-centered-d {
		position: absolute;
		top: 50%;
		left: 50%;
				transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);

	}
	
	/* Text Image Float Block1 Starts */
	.txt-img-float-block1 img {
		width: 100%;
	}
	/* Text Image Float Block1 Ends */
	
	/*  Slider Styles Start */
	.page-text-slider {
		padding: 40px 50px;
	}
	.slider-custom-style1 .owl-controls {
		margin-top: 92px;
	}
	/*  Slider Styles End */
	
	/* Widths Start */
	.width60-m {
		width: auto;
	}
	/* Widths End */
	
	/*--Alignments for Desctop Start--*/
	.text-left-d {
		text-align: left;
	}
	.text-right-d {
		text-align: right;
	}
	.text-center-d {
		text-align: center;
	}
	.text-justify-d {
		text-align: justify;
	}
	
	/*--Alignments for Desctop End--*/

}

@media (min-width: 769px) and (max-width:991px) {
    /*--- Manually Trigger Toggle Navigation Starts---*/
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }

    .collapse.in{
        display:block !important;
    }
    .nav > li {
        float: left;
    }
    /*--- Manually Trigger Toggle Navigation Ends---*/
	
	
}

@media (min-width: 769px) and (max-width:1119px) {
	.navbar-nav > li > a {
		font-size: 0.8em;
	}

}


@media (min-width: 992px) {
	/* Headings */
	h1 {
    	font-size: 4.5em;
	}
	h2 {
   	    font-size: 2.25em;
	}
	
	/* Fonts */
	.font-size-big-title-wrapper {
		font-size: 3.2em;
	}
	.font-size-mid-title-wrapper {
		font-size: 1.5em;
	}
	
	/* Text Image Float Block1 */
	.txt-img-float-block1 div[class*='col']:nth-child(1) {
		padding-right: 83px;
	}
	.txt-img-float-block1 div[class*='col']:nth-child(2) {
		padding-left: 46px;
	}
	
	/* Texts */
	.two-col-text-left {
		padding-right: 96px;
	}
	.two-col-text-right {
		padding-left: 96px;
	}
	
	
}

@media (min-width: 1200px) {
	/* Navigation */
    .navbar-brand {
        left: 60px;
    }
	.navbar-nav > li > a {
		font-size: 1em;
	}
	
	/* Intro */
	.intro-button {
		margin-top: 64px;
	}

}

@media (min-width: 1280px) {
	.title-wrapper {
		max-height: 197px;
	}

}
@media (min-width: 1920px) {
	.intro-background {
		max-height: 906px;
	}
	.page-content  {
		width: 1500px;
	}
	.page-header  {
		width: 1500px;
	}

}

@media (max-width: 480px) {
	.navbar-brand {
		width: 200px;
	}
	.intro-section {
		padding-top: 100px;
	}

}